<!DOCTYPE html>
<html>
<head>
  <title>MismoEnum</title>
  <%= stylesheet_link_tag    "mismo_enum/application", media: "all" %>
  <%= javascript_include_tag "mismo_enum/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
